<ion-header>
  <ion-toolbar color="light">
    <!-- Update title to use totalQuestionsInActiveSurvey -->
    <ion-title>{{ currentSurveyType }} (Question {{ currentQuestionIndex + 1 }} of {{ totalQuestionsInActiveSurvey }})</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Rest of the HTML remains the same, it will bind to `currentQuestion` -->
<ion-content class="ion-padding-top" *ngIf="currentQuestion">
  <ion-text color="dark" class="ion-margin-bottom ion-padding-horizontal">
    <h3>{{ currentQuestion.questionText }}</h3>
  </ion-text>

  <ion-list lines="inset" inset="true" mode="ios">
    <ion-chip
      *ngFor="let option of currentQuestion.responseChoices; let i = index"
      button
      (click)="selectAnswerAndProceed(option.id)"
      detail="false"
      [outline]="true"
      class="full-width-chip"
      [class.selected-option]="currentQuestion.answer === option.id"
    >
      {{ option.text }}
      <ion-icon *ngIf="currentQuestion.answer === option.id" name="checkmark-circle" slot="end" color="primary"></ion-icon>
    </ion-chip>
  </ion-list>
</ion-content>

<ion-footer class="ion-padding-horizontal ion-padding-bottom" *ngIf="currentQuestion && totalQuestionsInActiveSurvey > 1">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="previousQuestion()" [disabled]="currentQuestionIndex === 0" fill="clear" color="medium">
        <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
        Previous
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>