<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.developer.associated-domains</key>
	<string>webcredentials:37de-2600-4040-2a92-8800-a865-27f2-f55c-bf44.ngrok-free.app</string>
</dict>
</plist>
